html {
	font-family:Arial;
}

.title {
	font: 'verdana';
	background:#bfd0ff;
	width:100%;
	margin-bottom:3px #999999;
	color:white;
	height:92px;
}

.drapeau {
	float:left;
	width:67px;
	margin-top:20px;
	margin-left:15px;
}

.titre2 {
	font-weight:bold 
	font-size: 0.5em;
	float:right;
	margin-top:35px;
	margin-right:15px;
}


.titre1 {
	font-weight:bold 
	font-size: 0.5em;
	float:left;
	margin-left:15px;
	margin-top:35px;
}

.container-fluid {
	border:3px solid #999999;
}

.grand {
	width:100%;
	height:500px;
	border:3px solid #999999;
}

.petit {
	height:250px;
	border:3px solid #999999;
}

[class*="col-"] {
	
}


.img-responsive {
	position: absolute;
   top: 50%;
   left: 50%;
   width: 160px;
   height: 160px;
   margin-top: -80px; /* Half the height */
   margin-left: -80px; /* Half the width */
}

.big {
	/*position:relative;
	top:35%;*/
	position: absolute;
   top: 50%;
   left: 50%;
   width: 160px;
   height: 160px;
   margin-top: -80px; /* Half the height */
   margin-left: -80px; /* Half the width */
}



.photo {
	vertical-align:80%;
}
.nom {
  bottom: 0px;
  left: 0px;
  color: white;
  background-clip: border-box;
  position:absolute;
  left: 0px;
  width: 100%;
  height: 60px;
  font-weight:bold;
  font-size: 1.1em;
  text-align:left;
  margin-bottom:0px;
 padding-top:20px;
 padding-left:20px;


}
